.menu-item {
  padding: 3px 30px 3px 3px;
  position: relative;
  border-radius:30px 0 0 30px;
  cursor: pointer;
  margin: 10px 0;
  outline: none;

  &.hasChild {
	padding-right: 0;
	
	&.active {
		border-radius: 10px 0 0 10px;
	}
  }

  &.child {
    margin-left: 10px;
  }

  &:after{
    position: absolute;
    left: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: #1D2B50;
    content: "";
    border-radius: 30px 0 0 30px;
    transition: all .3s ease;
    z-index: 0;
    opacity: 0;
  }

  &:hover{
    z-index: 1000;
    border-radius: 30px;

    &:after{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: .7;
    }
  }

  &.active {
    background: #1D2B50;
    border-radius: 30px 0 0 30px;

    &::after {
      display: none;
    }

    .design-top {
      position: absolute;
      right: 0;
      top: -30px;
      width: 30px;
      height: 30px;
      background: inherit;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius:0 0 17px 0;
        background: #455176;
      }
    }

    .design-bottom {
      position: absolute;
      right: 0;
      bottom: -30px;
      width: 30px;
      height: 30px;
      background: inherit;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius:0 17px 0 0;
        background: #455176;
      }
    }

  }

  .router-link {
    display: flex;
    position: relative;
    z-index: 2;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
	  height: 35px;
	  margin: 0 5px;
	  flex-shrink: 0;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .text {
      min-height: 100%;
      display: flex;
      align-items: center;
	  white-space: nowrap;
	  transition: all .5s ease;
	  position: relative;
	  left: 0;
    }
  }


}


