
$radius : 4px;

$f1:16px;
$f2:18px;

$primary-color:#1D2B50;
$secondary-color:#117564;

$themes: (
  light: (
    primaryBg: #efefef,
    primaryFg: #1D2B50,


  ),
  dark: (
    primaryBg: #1D2B50,
    primaryFg: #efefef,
  ),
);



@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
