
<div  class="app-left-bar short" [ngClass]="{'short':menuShort}">
	<div class="logo">
		<app-logo [size]="logoSize"></app-logo>
	</div>
 <div class="menu-icon" (click)="minMaxMenu()">
	 <img src="../../../../assets/img/icons/menu-icon.png" alt=""/>
 </div>
  <div class="tree-menu">
    <app-menu-item [menuDetails]="menu" [menuIndex]="i" *ngFor="let menu of menus; let i = index"></app-menu-item>

    <!-- <app-menu-item [menuIcon]="'icon'" [menuText]="'activeTest'" [children]="[]"></app-menu-item> -->
  </div>
</div>

