.app-left-bar {
  background: #455176;
  height: 100%;
  padding-left: 10px;
  width: 230px;

  .logo {
	  padding: 20px;
	  width: 100%;
	  display: flex;
	  justify-content: center;
  }

  .tree-menu {
    padding: 0;
    margin: 0;
  }

  .menu-icon {
	cursor: pointer;
  }
}

:host ::ng-deep{

	.app-left-bar {
		transition: all .5s ease;

		

		&.short {
			width: 91px;
			.menu-item {

				.router-link {
					overflow: hidden;
				}
				.text {
					position: relative;
					left: 50% !important;
					opacity: 0;
					
				}
			}
		}
	}
	
	
}