@import "../../../assets/scss/variables.scss";

.dashboard {
  display: flex;
  width: 100%;
  height: calc(100%);
  background: inherit;

  .dashboard-left {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .section {
      overflow: auto;
      margin: 0 0 10px 0;
      padding-right: 10px;
      border-radius: 4px;
      position: relative;
      background: inherit;

      .section-title {
        position: sticky;
        top: 0;
        background: $primary-color;
        z-index: 10;
        padding: 10px 0;

      }

      &::ng-deep {
        .h-card {
          margin-bottom: 5px;
        }
      }
    }
  }

  .dashboard-center {
    padding: 0 15px;
    width: 100%;
  }


}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
