@import "../../../assets/scss/variables.scss";

.dashboard {
  display: flex;
  width: 100%;
  height: calc(100%);
  background: inherit;

  .dashboard-left {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .section {
      overflow: auto;
      margin: 0 0 10px 0;
      padding-right: 10px;
      border-radius: 4px;

      background: inherit;

      .section-title {
        position: sticky;
        top: 0;
        background: $primary-color;
        z-index: 10;
        padding: 10px 0;

		.search-button{
			background: none;
			border: 0;
			float: right;
			color: #fff;
			cursor: pointer;
			margin-top: -5px;
			outline: none;
		}
      }

      &::ng-deep {
        .h-card {
          margin-bottom: 5px;
        }
      }
    }
  }

  .dashboard-center {
    padding: 0 15px;
	width: 100%;
  }


}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dashboard-right {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2000;

	.trucks-wrapper {
		height: calc(100% - 170px);
		margin-bottom: 0;
	}

	.section {
		height: calc(33.333% - 10px);
		margin-bottom: 10px;
		border-radius: 4px;
		padding: 0 10px 10px 10px;
		overflow: auto;
		box-shadow: 0 0 5px -2px #000000;
		position: relative;

		h2 {
			font-size: 16px;
			margin: 0;
			line-height: normal;
			background: inherit;
			position: sticky;
			top: 0;
			z-index: 15;
			padding: 5px;
		}

		&.available{
			background: #51ACB7;
		}

		&.active {
			background: #1F827F;
		}

		&.idle {
			background: #455176;
		}
	}

	.glycol-status {
		width: 100%;
		min-width: 116px;
		height: 145px;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		background: #666;
		padding: 10px;
		flex-shrink: 0;

		&::after{
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			content: "";
			background: url(../../../assets/img/fuel-pattern.png) repeat;
			top: 0;
			z-index: 2;
		}

		.title {
			text-align: center;
			position: relative;
			z-index: 10;
		}

		.percentage {
			position: absolute;
			left: 0;
			bottom: 30px;
			right: 0;
			text-align: center;
			font-size: 25px;
			z-index: 10
		}

		.fill {
			background: #38B71F;
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 45%;
			z-index: 0;
			transition: all 3s ease;

			&::after{
				content: "";
				width: 80%;
				left: -10px;
				position: absolute;
				top: -5px;
				height: 20px;
				background: inherit;
				border-radius: 50%;
			}

			&::before{
				content: "";
				width: 50%;
				right: 0;
				position: absolute;
				top: -5px;
				height: 20px;
				background: inherit;
				border-radius: 50%;
				transform: rotate(-10deg);
			}
		}
	}
}
