<div class="login-wrapper">
  <div class="video-wrapper">

  </div>
  <div class="login-box">
    <div class="logo">
      Logo
    </div>
    <div class="loginForm">
      <div class="form-item">
        <label for="username">Username</label>
        <input type="text" placeholder="Username">
      </div>
      <div class="form-item">
        <label for="username">Username</label>
        <input type="password" placeholder="password">
      </div>

      <button mat-button>Basic</button>
      <app-button [buttonVal]="'Login'"></app-button>
    </div>
  </div>
</div>
