
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$deicing-app-primary: mat-palette($mat-indigo);
$deicing-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$deicing-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$deicing-app-theme: mat-light-theme((
  color: (
    primary: $deicing-app-primary,
    accent: $deicing-app-accent,
    warn: $deicing-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($deicing-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}

*::-webkit-scrollbar {
	width: 4px;
	height: 7px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #0000006e;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
	background-color: transparent;
}
input:-internal-autofill-selected,
input:-webkit-autofill {
	background-color: transparent;
}


// svg {
// 	path {
// 		fill: none !important;
		
// 	}


// 	.link {
// 		fill: none;
// 		stroke: #000;
// 		stroke-opacity: .2;
		
// 	}

// 	.link:hover {
// 		stroke-opacity: .5;
// 	}
// }

.link {
	stroke-opacity: 1;
	stroke: #0f0f0f96 !important;
	fill:  #0f0f0f96 !important;
	cursor: pointer;
	&:hover {
		stroke: #0f0f0f !important;
	}
}

.highlight {
	stroke: rgb(6, 194, 252) !important;
}

.node-text {
	font-size: 12px;
}

.node-rect {
	fill: #445176;
	stroke: none;

	&:hover, img {
		cursor: grab;
	}

	.node-rect-img {
		cursor: grab;
	}

	&.pad {
		fill: #D59E51;
	}

	&.outbay {
		fill: #F14438;
	}
}

.node {
	fill: rgb(103, 101, 252);
	stroke-opacity: 1;
}

.deicing-floor {
	.mat-dialog-content {
		max-height: none;
	}
}

.h-full {
	height: 100%;

	.mat-tab-body-wrapper {
		height: 100%;
	}
}

.white {
	color: #fff;

	.mat-tab-label{
		color: #fff;
	}

	.mat-tab-header {
		border-color: rgba(256,256,256,.2);
	}

	.mat-ink-bar {
		background: #fff !important;
	}
}

.full-width-tab {

	.mat-tab-label {
		width: 100%;
	}
}
